<h1>NEW</h1>
<%= form_with model: @task do |t| %>
  <%= t.label :title, "Titre ?" %>
  <%= t.text_field :title %>
  <%= t.label :details, "Les details de la tache ?" %>
  <%= t.text_field :details %>
  <%= t.submit %>
<% end %>
<%= link_to "Voir les taches", "/tasks" %>
