<h1><%= @task.title %></h1>
<h2><%= @task.details %></h2>
<%= link_to "Voir les taches", "/tasks" %>
<%= link_to "Modifier la tache", edit_path(@task) %>
<%= link_to "Supprimer une tache", task_path(@task), data: { turbo_method: :delete, turbo_confirm: "Vous êtes sur ?" } %>
